

<nav>
  <!--<h2>{{ title }}</h2> -->
  <ul>
  <li>  <a routerLink="" >Log Out </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="info" (click)="moveToAnotherPage('/info')">Info </a> </li>
  </ul>
  <ul>
    <li><a *ngIf="loggedInPerson.isbreeder===false"  routerLink="submit" (click)="moveToAnotherPage('/submit')">Submit </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="pending" (click)="moveToAnotherPage('/pending')">Pending </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="resolved" (click)="moveToAnotherPage('/resolved')">Resolved </a> </li>
  </ul>
</nav>
<br>
   <h1>User Information</h1>

<div>

    <table class="table table-bordered table-striped">
      <thead class= "thead-dark">
          <tr>

              <td scope="col">First Name:</td>
              <td>{{person.firstname}} </td>
                <td><input type='text' [(ngModel)]="person2.firstname" ></td>
         </tr>
          <tr>
              <td>Last Name:</td>
              <td> {{person.lastname}}</td>
              <td><input type='text' [(ngModel)]="person2.lastname" ></td>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Date of birth:</td>
              <td>{{person.dob}}</td>
             
          </tr>
          <tr>
            <td>City:</td>
            <td>{{person.city}}</td>
            <td><input type='text' [(ngModel)]="person2.city" ></td>
          </tr>
          <tr>
            <td>Phone Number:</td>
            <td>{{person.phonenumber}}</td>
            <td><input type='text' [(ngModel)]="person2.phonenumber" ></td>
          </tr>
          <tr>
            <td>Is Breeder:</td>
            <td>{{person.isbreeder}}</td>

          </tr>
          <tr>
            <td>Email:</td>
            <td>{{person.email}}</td>
            <td><input type='text' [(ngModel)]="person2.email" ></td>
          </tr>
          <tr>
           <td></td><td></td> <button (click)="updateInformation()">Submit</button> 
          </tr>
      </tbody>
  </table>
</div>


