

<nav>
    <!-- <h2>{{ title }}</h2> -->
     <ul>
     <li>  <a routerLink="">Welcome </a> </li>
     </ul>
     <ul>
       <li><a  routerLink="buyer">Buyer </a> </li>
     </ul>
     <ul>
       <li><a  routerLink="info">Info </a> </li>
     </ul>
     <ul>
       <li><a  routerLink="submit">Submit Request</a> </li>
     </ul>
     <ul>
       <li><a  routerLink="pending">Pending Requests</a> </li>
     </ul>
     <ul>
       <li><a  routerLink="resolved">Resolved</a> </li>
     </ul>
   </nav>

   <h1>User Information</h1>

<div>
    
    <br>
    text
    <br>
</div>
