

<nav>
    <!--<h2>{{ title }}</h2> -->
    <ul>
    <li>  <a routerLink="" >Log Out </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="info" (click)="moveToAnotherPage('/info')">Info </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="submit" (click)="moveToAnotherPage('/submit')">Submit </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="pending" (click)="moveToAnotherPage('/pending')">Pending </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="resolved" (click)="moveToAnotherPage('/resolved')">Resolved </a> </li>
    </ul>
  </nav>
  <br>
     <h1>Resolved Requests</h1>
  
  <div>
  
      <table class="table table-bordered table-striped">
        <thead class= "thead-dark">
            <tr>
                <td>Request Id</td>
                <td>Animal</td>
                <td>Breed</td>
                <td>Date Accepted</td>
                <td>Date Issued</td>
                <td>Photo Link</td>
                <td>Request Status</td>
                <td>Breeder ID</td>
                <td>Buyer ID</td>
                <td>Messages</td>
            </tr>
            <tbody>
            <tr *ngFor= "let r of requests">
                <td>{{r.requestid}} <input [(ngModel)]="r.requestid" type=hidden></td>
                <td>{{r.animal}}</td>
                <td>{{r.breed}}</td>
                <td>{{r.dateaccepted}}</td>
                <td>{{r.dateissued}}</td>
                <td>{{r.photolink}}</td>
                <td>{{r.requeststatus}}</td>
                <td>{{r.breederid.personid}}</td>
                <td>{{r.buyerid.personid}}</td>
                <td><button (click)="viewChat(r)">View Message</button></td>
            </tr>
        </tbody>
    </table>
  </div>
  <app-chat *ngIf="displayChat === true"></app-chat>
