

<nav>
    <!--<h2>{{ title }}</h2> -->
    <ul>
    <li>  <a routerLink="" >Log Out </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="info" (click)="moveToAnotherPage('/info')">Info </a> </li>
    </ul>
    <ul>
      <li><a *ngIf="loggedInPerson.isbreeder===false" routerLink="submit" (click)="moveToAnotherPage('/submit')">Submit </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="pending" (click)="moveToAnotherPage('/pending')">Pending </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="resolved" (click)="moveToAnotherPage('/resolved')">Resolved </a> </li>
    </ul>
  </nav>
  <br>
     <h1>Resolved Requests</h1>
  
  <div>
  
      <table class="styled-table">
        <thead>
            <tr class="active-row">
                <td>Request Id</td>
                <td>Animal</td>
                <td>Breed</td>
                <td>Date Accepted</td>
                <td>Date Issued</td>
                <td>Photo</td>
                <td>Request Status</td>
                <td>Breeder ID</td>
                <td>Buyer ID</td>
                <td>Messages</td>
                <td>Upload</td>
            </tr>
            <tbody>
            <tr class="active-row" *ngFor= "let r of requests">
                <td>{{r.requestid}} <input [(ngModel)]="r.requestid" type=hidden></td>
                <td>{{r.animal}}</td>
                <td>{{r.breed}}</td>
                <td>{{r.dateaccepted}}</td>
                <td>{{r.dateissued}}</td>
                <td>{{r.photolink}}</td>
                <td>{{r.requeststatus}}</td>
                <td>{{r.breederid.personid}}</td>
                <td>{{r.buyerid.personid}}</td>
                <td><button (click)="viewChat(r)">View Message</button></td>
                <td>
                  <input id="r.requestid" (change)="selectFile($event)" type="file" required><br>
                    <button type="submit" [disabled]="!selectedFiles" (click)="upload(r)">Upload</button>
                    <img [src]="url"></td>
            </tr>
        </tbody>
    </table>
  </div>
  <app-chat *ngIf="displayChat === true"></app-chat>
