<html >
<head>
  <meta charset="UTF-8" />
  <title> Family Pets</title>

</head>

<body> 
  <div>
    <header>
    <div class = "container" >
    <nav>
      <ul>
      <li>  <a routerLink="">Welcome </a> </li>
      </ul>
      <ul>
        <li><a routerLink="login">Login </a> </li>
      </ul>
      <ul>
        <li><a  routerLink="buyer">Buyer </a> </li>
      </ul>
      <ul>
        <li><a  routerLink="breeder">Breeder </a> </li>
      </ul>
      <ul>
        <li><a  routerLink="info">Info </a> </li>
      </ul>
      <ul>
        <li><a  routerLink="submit">Submit </a> </li>
      </ul>
      <ul>
        <li><a  routerLink="pending">Pending </a> </li>
      </ul>
      <ul>
        <li><a  routerLink="resolved">Resolved </a> </li>
      </ul>
    </nav>
  </div>
  <div>
    <h1 class=container>Family Pets</h1> 
    <h2>Connecting Buyers with Breeders</h2>     
  </div>
  <hr>
</header>
  
  </div>
  
</body>
<div>
  <router-outlet></router-outlet>
  </div>
</html>
