<nav>
  <!--<h2>{{ title }}</h2> -->
  <ul>
  <li>  <a routerLink="" >Log Out </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="My Info" (click)="moveToAnotherPage('/info')">Info </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="Accept Request" (click)="moveToAnotherPage('/submit')">Submit </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="Pending Requests" (click)="moveToAnotherPage('/pending')">Pending </a> </li>
  </ul>
  <ul>
    <li><a  routerLink="Resolved Requests" (click)="moveToAnotherPage('/resolved')">Resolved </a> </li>
  </ul>
</nav>

