

<nav>
    <!--<h2>{{ title }}</h2> -->
    <ul>
    <li>  <a routerLink="" >Log Out </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="info" (click)="moveToAnotherPage('/info')">Info </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="submit" (click)="moveToAnotherPage('/submit')">Submit </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="pending" (click)="moveToAnotherPage('/pending')">Pending </a> </li>
    </ul>
    <ul>
      <li><a  routerLink="resolved" (click)="moveToAnotherPage('/resolved')">Resolved </a> </li>
    </ul>
  </nav>
  <br>
     <h1>Pending Requests</h1>
  
  <div>
  
      <table class="table table-bordered table-striped">
        <thead class= "thead-dark">
            <tr>
                <td>Request Id</td>
                <td>Animal</td>
                <td>Breed</td>
                <td>Date Accepted</td>
                <td>Date Issued</td>
                <td>Photo Link</td>
                <td>Request Status</td>
                <td>Breeder ID</td>
                <td>Buyer ID</td>
                <td></td>
            </tr>
            <tbody>
            <tr *ngFor= "let r of requests">              
                <td>{{r.requestid}}<input name="r.requestid" [(ngModel)]="r.requestid" type="hidden"></td>
                <td>{{r.animal}}<br><input  [(ngModel)]="r.animal"> <input name="r.animal" [(ngModel)]="r.animal" type="hidden"></td>
                <td>{{r.breed}}<br><input  [(ngModel)]="r.breed"> <input name="r.breed" [(ngModel)]="r.breed" type="hidden"></td>
                <td>{{r.dateaccepted}}<input name="r.dateaccepted" [(ngModel)]="r.dateaccepted" type="hidden"></td>
                <td>{{r.dateissued}}<input name="r.dateissued" [(ngModel)]="r.dateissued" type="hidden"></td>
                <td>{{r.photolink}}<input name="r.photolink" [(ngModel)]="r.photolink" type="hidden"></td>
                <td>{{r.requeststatus}}<input name="r.requeststatus" [(ngModel)]="r.requeststatus" type="hidden"></td>
                <td>{{r.breederid}}<input name="r.breederid" [(ngModel)]="r.breederid" type="hidden"></td>
                <td>{{r.buyerid.personid}}<input name="r.buyerid.personid" [(ngModel)]="r.buyerid.personid" type="hidden"></td>
                <td><button *ngIf="loggedInPerson.isbreeder===false" (click)="edit(r)">Edit</button><button *ngIf="visibility===true" (click)="accept(r)">Accept</button></td>
            </tr>
             
            
        </tbody>
    </table>
  </div>
  
